<%= form_with(model: user, local: true, html: { class: "form-card" }) do |f| %>
  <% if user.errors.any? %>
    <div class="form-errors">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <% user.errors.full_messages.each do |msg| %>
        <div class="form-error"><%= msg %></div>
      <% end %>
    </div>
  <% end %>

  <fieldset>
    <legend>Identity</legend>
    <div class="form-field">
      <%= f.label :email %><br>
      <%= f.email_field :email, required: true, autofocus: true %>
    </div>

    <div class="form-field">
      <%= f.label :personal_email %><br>
      <%= f.email_field :personal_email, required: true, autofocus: true %>
    </div>

    <div class="form-field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>

    <div class="form-field">
      <%= f.label :role %><br>
      <%= f.select :role, options_for_select(User.roles.keys.map { |r| [r.titleize, r] }, user.role) %>
    </div>
  </fieldset>

  <fieldset>
    <legend>OAuth</legend>
    <div class="form-field">
      <%= f.label :provider %><br>
      <%= f.text_field :provider, placeholder: "google_oauth2" %>
    </div>

    <div class="form-field">
      <%= f.label :uid %><br>
      <%= f.text_field :uid %>
    </div>

    <div class="form-field">
      <%= f.label :image_url %><br>
      <%= f.url_field :image_url %>
    </div>

    <div class="form-field">
      <%= f.label :access_token %><br>
      <%= f.text_field :access_token %>
    </div>

    <div class="form-field">
      <%= f.label :refresh_token %><br>
      <%= f.text_field :refresh_token %>
    </div>

    <div class="form-field">
      <%= f.label :access_token_expires_at %><br>
      <%= f.datetime_field :access_token_expires_at %>
    </div>
  </fieldset>

  <div class="actions-row">
    <%= f.submit class: "btn btn-primary" %>
    <% if user.persisted? %>
      <%= link_to "Cancel", user_path(user), class: "btn" %>
    <% else %>
      <%= link_to "Cancel", users_path, class: "btn" %>
    <% end %>
  </div>
<% end %>